@charset "UTF-8";

*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
  
  background-color: aquamarine;
}
h1,h2{
  font-family: 'Concert One', cursive;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(6, 11, 10, 0.941);
  padding:10px ;

}
form{
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 280px;
  margin: auto;
  padding: 10px;
}
form input, button{
  width: 300px;
  border-radius: 10px;
  margin: 5px;
  padding: 25px;
  display: block;
border-color:rgba(32, 134, 100, 0.7) ;
  
}
button{

}
button:hover{
  background: rgba(32, 134, 100, 0.7)  ;

  
}
input:focus, button:focus{
  outline-color:rgba(32, 134, 100, 0.7) ;
}
.invalidA{
  border: 1px solid red;
}
.invalidB{

  border: 1px solid red;
}
.erroCampoa{
  color:red;
  display: none;
} 
.erroCampo1{
  display: none;
  color:red;}
  
p{
  text-align: center;
  font-size: 0.8em;
  color:red;
}

.erroCampob{
  display: none;
  color:red;
}


.res h2{ 
  color: ;}